@{
    ViewData["Title"] = "Historia";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-4">@ViewBag.Title</h1>
            <p>
                Los Juegos Olímpicos son un evento deportivo internacional que se celebra cada cuatro años. La primera edición de los Juegos Olímpicos se celebró en la antigua Grecia en el año 776 a.C. en la ciudad de Olimpia. Estos juegos eran dedicados a Zeus, el dios principal del panteón griego, y reunían a atletas de diferentes ciudades-estado griegas para competir en diversas disciplinas.
            </p>
            <p>
                Los Juegos Olímpicos antiguos fueron celebrados hasta el año 393 d.C., cuando el emperador romano Teodosio I los prohibió debido a su carácter pagano. Fue en 1896 cuando se revivieron los Juegos Olímpicos modernos gracias al Comité Olímpico Internacional (COI), fundado por Pierre de Coubertin. La primera edición de los Juegos Olímpicos modernos tuvo lugar en Atenas, Grecia, y contó con la participación de atletas de 13 países.
            </p>
            <p>
                Desde entonces, los Juegos Olímpicos han crecido en tamaño y alcance, convirtiéndose en uno de los eventos deportivos más importantes y reconocidos a nivel mundial. Cada edición de los Juegos Olímpicos atrae a miles de atletas y espectadores de todo el mundo y celebra una amplia variedad de deportes, desde los tradicionales como el atletismo y la natación, hasta deportes más recientes como el surf y el skateboarding.
            </p>
            <p>
                Los Juegos Olímpicos no solo son una celebración del deporte, sino también una oportunidad para promover la paz y la amistad entre los pueblos. El lema olímpico "Citius, Altius, Fortius" (Más rápido, Más alto, Más fuerte) refleja el espíritu de superación y excelencia que caracteriza a estos juegos.
            </p>
        </div>
    </div>
</div>