@{
    ViewData["Title"] = "Index";
}

 <h1>Informacion del sitio</h1>
<div class = "p1">
    <p>¡Bienvenido a Tu Guía Completa de los Juegos Olímpicos!

Explora y disfruta de una experiencia única centrada en los Juegos Olímpicos. En nuestra página, tendrás acceso a una amplia variedad de secciones diseñadas para ofrecerte una visión completa de este evento mundial.

Descubre la historia de los Juegos Olímpicos, desde sus orígenes en la antigua Grecia hasta los eventos más recientes. Aprende sobre los hitos más importantes y cómo los Juegos han evolucionado a lo largo del tiempo.

Conoce los deportes olímpicos que se practican en los JJOO. Ofrecemos detalles sobre cada disciplina, sus reglas y el impacto que tienen en el evento, permitiéndote comprender mejor la diversidad y la complejidad de las competiciones.

Infórmate sobre los países participantes. Descubre cuáles son, sus logros, medallas ganadas y cómo cada uno contribuye al espíritu olímpico, proporcionando una visión global del alcance del evento.

Además, si tienes información sobre un atleta destacado que te gustaría ver reflejado, nuestra funcionalidad de agregar jugador te permite hacerlo de manera sencilla, asegurando que la base de datos se mantenga actualizada con los últimos detalles y contribuciones.

No olvides visitar nuestra sección de créditos para conocer a los creativos y colaboradores que han trabajado arduamente para ofrecerte este recurso informativo y apasionante.

Navega por nuestras secciones y sumérgete en la magia de los Juegos Olímpicos con nosotros. ¡Comienza tu viaje olímpico hoy mismo!
</p>
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      <img src="../img/Foto1.jpg" class="img-thumbnail" alt="Foto 1">
    </div>
    <div class="col">
      <img src="../img/Foto4.jpg" class="img-thumbnail" alt="Foto 2">    </div>
    <div class="col">
      <img src="../img/Foto3.jpg" class="img-thumbnail" alt="Foto 3">    </div>
  </div>
</div>

</div>
