@{
    ViewData["Title"] = "Países";
}

<div class="container text-center mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach(Pais objPais in ViewBag.ListaPaises)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@objPais.Bandera" class="card-img-top" alt="@objPais.Nombre">
                    <div class="card-body">
                        <h5 class="card-title">@objPais.Nombre</h5>
                        <a href='@Url.Action("VerDetallePais", new { IdPais = objPais.IdPais })' class="btn btn-primary">Ver detalle país</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>       