html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
margin: 0;
padding: 0;
}

header{
  background-image: url(https://s1.elespanol.com/2024/02/26/deportes/juegos-olimpicos/835677172_240275781_1706x960.jpg);
  background-position: center;
  position: relative;
  height: 80vh;
}
header h1{
  font-size: 100px !important;
  position: absolute;
  bottom: 0;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: bold;
}
.header-overlay{
  height: 80vh;
  width: 100%;
  background: linear-gradient(#000e, #fff9);
}
.navbar{
  position: fixed;
  width: 100vw;
  top: 0;
}
footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.p1
{
 font-size: large;
}
header img
{
  width: 6%;
}